.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-main-header
{
  text-align: center;
  font-size: 30px;
  background-color: rgb(3, 3, 121);
  color : white;
  padding : 20px 20px;
  letter-spacing: 0.4px;
}

.app-main-header-name
{
  padding : 20px 0px;
  text-align: center;
  font-size: 29px;
  color : rgb(3, 3, 121);
  letter-spacing: 0.3px;
}

.form-input-field
{
  margin : 10px 0px;
  border: 1px solid rgb(155, 152, 152);
  width: 100%;
  padding : 0px 10px;
  height : 45px;
  border-radius: 4px;
}
.form-input-field:focus
{
  outline: none;
}
.form-input-button
{
  margin : 10px 0px;
  border: none;
  height : 45px;
  border-radius: 4px;
  background-color: rgb(5, 15, 105);
  color : white
}
.form-input-button:focus
{
  outline: none;
}
.form-input-error
{
  color : red;
  font-size: 14px;
  padding-top: 0px;
}
.form-result h5
{
  font-size: 20px;
  letter-spacing: 0.4ps;
  padding : 10px 0px;  
}
